
<div class="footer">
<p align="RIGHT">
</p><table align="RIGHT">
<tbody><tr>
<!----<TD width="150"><A HREF="http://www.sheffield.ac.uk/wrgrid">
    <IMG SRC="../images/crest-l.gif" BORDER="0" ,ALIGN="left"> <BR>
     Home </A>
     </TD>  ----->
<td width="170"><b>A</b>uthor : <br>
                    <b>E</b>-mail : <br>
                    <b>L</b>ast updated :  </td>

<td>     <i> Research Computing Group, CiCS Dept. <br>
<a href="mailto:hpchub@sheffield.ac.uk">research-it@sheffield.ac.uk</a> <br>
         </i>
<script>

<!-- comment
// document.write('<B> ' + document.lastModified + '</B>')
var zdate = document.lastModified;
var zzobj  = new Date(zdate);
var zzstr  = zzobj.toGMTString();
var zzind  = zzstr.indexOf( ':', 0 ) - 3;
   document.write('<I>' + zzstr.substring(0,zzind) + '</I>' );

// disengage comment  -->

</script>

</td>

</tr>
</tbody></table>

</div>
