<!-- Javascript placed at the end of the document so the pages load faster -->
<script>

<!-- comment
// document.write('<B> ' + document.lastModified + '</B>')
var zdate = document.lastModified;
var zzobj  = new Date(zdate);
var zzstr  = zzobj.toGMTString();
var zzind  = zzstr.indexOf( ':', 0 ) - 3;
   document.write('<I>' + zzstr.substring(0,zzind) + '</I>' );

// disengage comment  -->

</script><i>Thu, 28 May 2015</i>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="css/bootstrap/bootstrap-js/bootstrap.js"></script>
